<div class="card">
    <div class="card-header">
        Products List
    </div>
    <div class="card-body">
        <div class="inner-card-body">
            <div class="content-info--warpper">
                <table [border]="1" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Availability
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productList">
                            <td>
                                {{product?.productName}}
                            </td>
                            <td>
                                {{product?.description}}
                            </td>
                            <td>
                                {{product?.price}}
                            </td>
                            <td>
                                {{product?.availableQuantity}}
                            </td>
                        </tr>
                        <tr *ngIf="!productList?.length">
                            <td colspan="4" class="text-center">
                                No data found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
        </div>
    </div>
</div>